@import "../../../global";

.ranklist {
  overflow-y: scroll;
  height: 400px;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: dimgrey;
    border-radius: 5px;
  }
}

.table {
  font-size: $font-size-web;
  color: $secondary-alt;
}

table .propic {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 1em;
}

td {
  word-wrap: break-word;
  max-width: 150px;
}

@media screen and (max-width: $media-width) {
  .table {
    font-size: $font-size-mobile;
  }
}
