@import "../../../global.scss";

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: $primary;
  font-size: 20px;
  padding: 0.3em;
  .emphasis {
    color: white;
    font-size: 1.5em;
    line-height: 1.25em;
  }
}
