.questionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  white-space: pre-line;
  .btn-hint {
    margin: 3em;
  }
  .sourceHint {
    padding: 1em;
  }
  .img {
    width: 100%;
    max-width: 25em;
    max-height: 25em;
    padding: 1em;
  }
  .answerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .answer {
      width: 75%;
      padding: 8px 10px;
      border: none;
      border-radius: 4px;
      background-color: #252525;
      color: white;
    }
  }
}
